
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: "Uindbase Font 1";
  src: url("../fonts/UF1.ttf");
}@font-face {
  font-family: "Usually-font";
  src: url("../fonts/Usually-font-Bold.otf");
}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  outline: none;

}
body{
  background-color:#f0f8ff;
  font-family: UF1;
  box: fixed;
}
.container{
  max-width: 900px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
#individ{
  background-color: #333;
  color: white;
}
.main .container{
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  text-align: center;
}
.main__wrapper{
  border-radius: 30px;
  width: 900px;
  max-height: 1300px;
  margin-top: 50px;
  background-color: white;
  border: 2px solid #ccc;
  color: #333;
  height: 72vh;
  padding-bottom: 20px;
}
.main__img img{
  margin-top: 17px;
  width: 80px;
  height: 70px;
  border-radius: 10px;
}
.main__title{
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 20px;
}
.main__text{
  padding: 10px 0px;
  border-radius: 20px;
  margin-left: 500px;
  width: 300px;
  margin-bottom: 50px;
  font-size: 17px;
}
.main__nav{
  display: flex;
  gap: 30px;
  margin-left: 150px;
  margin-bottom: 10px;

}
.main__nav-items{
  padding: 10px 20px;
  font-size: 20px;
  background-color: white;
  color: #333;
  border-radius: 50px;
  transition: background-color 0.3s;
  text-transform: capitalize;
}
.main__nav-items:hover {
  background-color: #333;
  color: white;
}

.header{
  margin-top: 30px;
  padding: 10px 0;
  margin-bottom: 20px;
}
.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.header__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin-right: 30px;
  font-weight: 400;
  font-size: 17px;
  text-transform: capitalize;
}
.nav__items{
  padding: 5px 10px;
  font-size: 20px;
  background-color: white;
  color: #333;
  border-radius: 50px;
  transition: background-color 0.4s;
}
.nav__items:hover {
  background-color: #333;
  color: white;
}
.header__logo img{
  width: 80px;
  height: 70px;
  border-radius: 50%;
  padding: 5px 30px;
}
.about__wrapper{
  display: flex;
  justify-content: space-around;
  height: 90vh;
}
.about__image img{
  position: absolute;
  margin-top: 25px;
  margin-left: 0px;
  width: 330px;
  height: 450px;
  z-index: 1;
  border-radius: 10%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.about__par{
  background-color: white;
  position: relative;
  border-radius: 30px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  height: 50vh;
  margin-top: 92px;
  padding: 15px;
  z-index: 2;
  margin-left: 98px;
  opacity: 90%;
}
.par__back{
  position: absolute;
  font-size: 70px;
  font-weight: 500;
  color: #D3D3D3;
  z-index: 1;
}
.par__title{
  position: relative;
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 38px;
  z-index: 2;
  color: #333;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.par__title-text{
  margin-left: 15px;
}
.par__text{
  position: relative;
  font-size: 20px;
  z-index: 3;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}
.par__button{
  position: relative;
  font-size: 20px;
  z-index: 3;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
}
.par__button-new{
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border-radius: 30px;
}
.par__button-new:hover{
  background-color: #ccc;
  color: #333;
}
.hobbies__wrapper{
  height: 105vh;

}
.hobbies__par{
  text-align: center;
  padding-top: 50px;
}
.hobbies__back-text{
  margin-left: 278px;
  margin-top: -23px;
}
.hobbies__par-text{
  font-size: 24px;
  margin-bottom: 50px;
}
.hobbies__back{
  position: absolute;
  font-size: 70px;
  font-weight: 500;
  color: #D3D3D3;
  z-index: 1;
}
.hobbies__title{
  position: relative;
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 24px;
  z-index: 2;
  color: #333;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.hobbies__images{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
.hobbies__about{
  text-align: center;
  border: 2px solid #ccc;
  margin: 10px 40px;
  height: 22vh;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}
.hobbies__about-text{
  margin: 10px 10px;
}
.hobbies__images button{
  background-color: white;
  border-radius: 30%;
}
.hobbies__images button img{
  width: 171px;
  height: 150px;
  border-radius: 30%;
}
.hobbies__ing{
  background-size: 100px 200px;
}
.hobbies__about-text{
  font-size: 20px;
}

.family{
  margin-bottom: 30px;
}
.family .container{
  height: 80vh;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}
.family__par{
  margin-left: 300px;
  margin-top: 30px;
  text-align: center;
  position: absolute;
}
.family__par-back{
  position: absolute;
  font-size: 70px;
  font-weight: 500;
  color: #D3D3D3;
  z-index: 1;
}
.family__par-title{
  text-align: center;
  position: relative;
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 24px;
  z-index: 2;
  color: #333;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.family__par-text{
  font-size: 24px;
  margin-bottom: 50px;
}
.family__each{
  margin: 150px 30px 0 30px;
  width: max-content;
  display: inline-flex;
  gap: 70px;
}
::-webkit-scrollbar {
  display: none;
}
.each__par{
  margin-top: 8px;
}
.each__par-title{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.each__par-text{
  font-size: 20px;
  line-height: 25px;
}
.each__other{
  border: 2px solid #333;
  padding: 30px 40px;
  border-radius: 30px;
  display: flex;
  gap: 20px;
}
.each__image img{
  width: 150px;
  height: 190px;
  border-radius: 30px;
}
.rectangle{
  height: 3px;
  width: 464px;
  margin-top: 10px;
  background-color: #333333;
}
.inst img{
  width: 41px;
}
.vk img{
  width: 42px;
}
.tt img{
  width: 40px;
}
.tg img{
  width: 28px;
}
.feedback__form{
  display: flex;
  max-width: 900px;
  justify-content: center;
  gap: 50px;
}
.feedback__form input{
  margin-bottom: 7px;
  width: 250px;
  height: 27px;
}
.feedback__form textarea{
  margin-bottom:7px;
  width: 253px;
  height: 100px;
}
.feedback__form button{
  margin-bottom: 10px;
  width: 258px;
  height: 41px;
}
.inf__form{
  margin-top: 50px;
  font-size: 30px;
  text-align: center;
}
.inf__form button{
  color: white;
  background-color: #333;
}
.inf__form textarea{
  resize: none;
}
.inf__form p{
  margin-bottom: 10px;
}
.contacts__map{
  margin-top: 50px;
}
.contacts__me{
  display: flex;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  height: 10vh;
  gap: 20px;
}
.footer{
  padding-bottom: 20px;
}
.footer__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  margin-top: 20px;
}
.footer__logo img{
  width: 40px;
}
.red__text{
  color: red;
  margin-left: 3px;
}
.footer__text{
  display: flex;
}
.gallery .container{
  padding-bottom: 50px;
}

.gallery__title{
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  padding-top: 30px;
}
.gallery__img-1{
  transition: transform 0.3s ease;
  width: 800px;
  height: 400px;
}
.gallery__img-2{
  transition: transform 0.3s ease;
  width: 800px;
  height: 400px;
}
.gallery__img-3{
  transition: transform 0.3s ease;
  width: 250px;
  height: 400px;
}
.gallery__img-5{
  transition: transform 0.3s ease;
  width: 250px;
  height: 400px;
}
.gallery__img-6{
  transition: transform 0.3s ease;
  width: 250px;
  height: 400px;
}
.gallery__img-8{
  transition: transform 0.3s ease;
  width: 390px;
  height: 290px;
}
.gallery__img-9{
  transition: transform 0.3s ease;
  width: 390px;
  height: 290px;
}
.images_row1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.images_row2{
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.images_row3{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.images_row4{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.gallery__img-1:hover{
  transform: scale(1.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.gallery__img-2:hover{
  transform: scale(1.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.gallery__img-3:hover{
  transform: scale(1.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.gallery__img-5:hover{
  transform: scale(1.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.gallery__img-6:hover{
  transform: scale(1.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.gallery__img-8:hover{
  transform: scale(1.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.gallery__img-9:hover{
  transform: scale(1.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.edu .container{
  height: 110vh;
}
.school__images{
  display: flex;
  gap: 20px;
}
.edu__par{
  text-align: center;
  padding: 30px;
}
.edu__par-title{
  font-size: 50px;
  font-weight: 500;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}
.edu__par-text{
  font-size: 20px;
  line-height: 25px;
  margin-top: 10px;
}.edu__school {
   display: flex;
   gap: 20px;
   justify-content: center;
 }

.school__each {
  position: relative;
  text-align: center;
}

.tooltip1, .tooltip2, .tooltip3 {
  position: absolute;
  width: 400px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
}

.school__each:hover .tooltip1,
.school__each:hover .tooltip2,
.school__each:hover .tooltip3 {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  visibility: visible;
  opacity: 1;
}

.school__each img {
  width: 200px;
  height: 270px;
  border-radius: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
@media (max-width: 600px){
  .header__nav{
    font-size: 4px;
  }
  .about__wrapper{
    display: flow;
  }
  .about__image{
    position: fixed;
  }

}
@media (max-width: 900px){

}
